@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --clr-neutral-100: #fbfbfb;
  --clr-neutral-300: #dce6ec;
  --clr-neutral-500: #c0c0c0;
  --clr-neutral-800: #323538;
  --clr-neutral-900: #22272a;

  --clr-blue-400: #66d5f2;
  --clr-blue-800: #94b3c5;
  --clr-blue-900: #638190;

  --clr-accent: var(--clr-blue-400);
  --clr-accent-secondary: var(--clr-blue-800);
  --clr-accent-tertiary: var(--clr-blue-900);
  --clr-background: var(--clr-neutral-900);
  --clr-text: var(--clr-neutral-100);
  --clr-text-secondary: var(--clr-neutral-500);

  --ff-base: "Roboto", sans-serif;

  --tra-duration-base: 200ms;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --_body-padding: 1rem;

  display: grid;
  grid-template-columns: var(--_body-padding) auto repeat(12, 1fr) var(
      --_body-padding,
      1rem
    );
  grid-template-rows: var(--_body-padding) auto 1fr var(--_body-padding);

  background-color: var(--clr-background);
  color: var(--clr-text);
  font-family: var(--ff-base);
  min-height: 100svh;
}

button {
  color: inherit;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    outline: none;
  }
}

svg {
  width: 1.25rem;
}

aside {
  grid-column: 1 / span 2;
  grid-row: 1 / -1;

  min-height: 100svh;
  width: max(20ch, 15vw);
  border-right: 2px solid var(--clr-accent-tertiary);

  .aside-container {
    position: fixed;
    inset: 0 auto 0 auto;

    padding: 1rem;

    nav {
      --_column-gap: 0.5rem;

      display: grid;
      grid-template-columns: auto 1fr;
      row-gap: 3rem;
      column-gap: var(--_column-gap);

      h1,
      ul,
      li,
      a {
        grid-column: 1 / -1;
      }

      h1,
      ul,
      ul li,
      ul li a {
        display: grid;
        grid-template-columns: subgrid;
      }

      h1,
      a {
        align-items: center;
      }

      svg {
        justify-self: center;
        fill: var(--clr-text);
        width: 1.25em;
      }

      h1 svg {
        width: 2em;
      }

      ul {
        row-gap: 1rem;
        list-style: none;

        a {
          color: inherit;
          text-decoration: none;
          outline: none;
        }

        a:not(:hover, :active, :focus, :focus-visible, :target) {
          color: var(--clr-text-secondary);

          svg {
            fill: var(--clr-text-secondary);
          }
        }
      }
    }
  }
}

header {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: auto 1fr;
  grid-column: 3 / -1;
  grid-row: 2;

  height: max(6rem, 20vh);
  padding-inline: 2rem;
  box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.3);

  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / -1;

    form,
    article,
    button:has(img) {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    form {
      width: 100%;

      input {
        background-color: var(--clr-text-secondary);
        border: none;
        border-radius: 99rem;
        padding: 0.5ch 2ch;
        width: min(70ch, 80%);

        &:focus-visible {
          outline: 2px solid var(--clr-accent-secondary);
          outline-offset: 1px;
        }
      }
    }

    &:first-of-type article {
      flex-shrink: 0;
    }

    &:first-of-type button {
      background-color: transparent;
      border: none;
      border-radius: 50%;
      width: fit-content;
      aspect-ratio: 1 / 1;
      padding: 1ch;
      fill: var(--clr-text-secondary);
      transition: fill var(--tra-duration-base) ease;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-accent-tertiary);
        fill: var(--clr-text);
      }

      &:has(img) {
        border-radius: 99rem;
        padding: 0.5ch 1ch;
        aspect-ratio: initial;
        transition: background-color var(--tra-duration-base) ease;

        span {
          color: var(--clr-text-secondary);
          transition: all var(--tra-duration-base) ease;
        }

        &:hover,
        &:focus-visible {
          background-color: var(--clr-accent-tertiary);
        }
      }

      &:has(img):hover span,
      &:has(img):focus-visible span {
        color: var(--clr-text);
      }
    }

    &:last-of-type button:not(:has(img)) {
      background-color: var(--clr-accent-tertiary);
      border: none;
      border-radius: 99rem;
      padding: 0.5em 2em;
      transition-property: background-color, color;
      transition-duration: var(--tra-duration-base);
      transition-timing-function: ease;

      &:hover,
      &:focus-visible {
        color: var(--clr-background);
        background-color: var(--clr-accent-secondary);
      }
    }

    img {
      border-radius: 50%;
      height: 2rem;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }

    article div p {
      font-size: 0.8rem;
    }
  }

  section:last-of-type img {
    height: 3rem;
  }
}

main {
  grid-column: 3 / -1;
  grid-row: 3;
  height: 300vh;
}
